/* header section css */

.header-celebration {
  height: 600px;
  background-image: url("../images/Banner-Image.png");
  background-repeat: no-repeat;
  border-radius: 10px;
  margin: 50px;
}
.header-text {
  padding: 120px;
}
.header-text p,h2 {
  text-align: center;
  color: white; 
}
.header-text p {
  font-size: 32px;
  line-height: 0px;
}
.header-text h2 {
  font-size: 72px;
}

/* main section 65% OFF */

.section-65 {
  margin-top: 100px;
  text-align: center;
}
.text-65 {
  color: #FF0000;
  font-size: 88px;
  line-height: 0px;
  font-weight: bold;
}
.section-65 p {
  color: #FF0000;
  line-height: 0px;
}
.all-category {
  font-size: 48px;
  font-weight: bold;
  line-height: 0px;
}
.category-img {
  
 text-align: center;
} 

.party-section {
  height: 600px;
  background-image: url("../images/Vectorrr.png"), url("../images/Group-70.png");
  background-repeat: no-repeat;
  margin: 50px;
  border-radius: 10px;
  /* background: linear-gradient(90deg, white 0%, orange 35%, yellow 100%); */
}
.party-text {
  width: 40%;
  padding-top: 120px;
  padding-left: 80px;
  color: white;
}
.party-text h3 {
  font-size: 64px;
}
.gift-card {
  margin: 0 50px;
}
.card-header1 {
 font-size: 24px;
 color: #FF0000;
 line-height: 0px;
}
.card-header2 {
  font-weight: 800;
  font-size: 48px;
  line-height: 0px;
}
.card-img {
  display: grid;
  grid-template-columns: auto auto auto;
  
  
}
.card-img img {
  height: 300px;
  margin: 8px 0;
  
}
.newsletter {
  margin: 48px;
  text-align: center;
}
.newsletter-header {
  font-size: 48px;
  font-weight: 800;
  line-height: 0;
}
.subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}
.btn-input {
  padding: 10px 20px;
  margin-right: 48px;
  border: 0;
}
.btn-subscribe {
  padding: 10px 20px;
  border: 0;
  border-radius: 0 20px 20px 0;
  background-color: #FF0000;
  color: white;
}
.footer-section {
  background-color: #070211;
  color: #FFFFFF;
}
.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 48px 0 24px;
}
.contact p {
  color: #FFFFFF;
}
.footer-section hr {
  border: 1px solid gray;
  margin:0 24px;
}
.social-media {
  display: flex;
  color: #FFFFFF;
  justify-content: center;
  align-items: center;
}
.social-media p {
  margin: 10px;
}
.media1, .media3 {
  color: #0B69C7;
}
.media4 {
  color: #EA1932;
}
.unsubscribe {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  margin: 0 24px 48px 24px;
}
.btn-unsubscribe {
  background-color: #070211;
  border: 0;
  color: #FFFFFF;
  
}